<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="ColoringBook" Publisher="CN=Microsoft" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="0cd6b493-db60-4aa8-8b94-16472f85b285" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ColoringBook</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\ColoringBookStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ColoringBook.App">
      <uap:VisualElements DisplayName="ColoringBook" Square150x150Logo="Assets\ColoringBookMedTile.png" Square44x44Logo="Assets\ColoringBookAppList.png" Description="ColoringBook" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\ColoringBookBadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\ColoringBookWideTile.png" Square310x310Logo="Assets\ColoringBookLargeTile.png" Square71x71Logo="Assets\ColoringBookSmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\ColoringBookSplashScreen.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>